{
  "feeder_reached": {
    "description": "Informs the habitat server that a feeder has been reached by a mouse",
    "input_type": "console",
    "parameters": {
      "feeder_number": {
        "description": "Feeder number that has been reached",
        "type": "int",
        "mandatory": true
      }
    }
  },
  "test_feeder": {
    "description": "Test the water feeder",
    "input_type": "console",
    "parameters": {
      "feeder_number": {
        "description": "Feeder number that has been reached",
        "type": "int",
        "mandatory": true
      },
      "duration": {
        "description": "Pulse duration in milliseconds",
        "type": "int",
        "mandatory": true
      },
      "repetitions": {
        "description": "Repetitions",
        "type": "int",
        "mandatory": true
      },
      "wait_time": {
        "description": "Time between pulses in milliseconds",
        "type": "int",
        "mandatory": true
      }
    }
  },
  "start_server": {
    "description": "Start the local habitat server",
    "input_type": "console",
    "parameters": {}
  },
  "end": {
    "description": "Quits this console and ends the maze controller",
    "input_type": "console",
    "parameters": {}
  },
  "status": {
    "description": "Shows full status of the maze",
    "input_type": "console",
    "parameters": {}
  },
  "start_experiment": {
    "description": "Starts a new experiment",
    "input_type": "keyboard",
    "confirmation": "run experiment?",
    "parameters": {
      "subject_name": {
        "description": "Subject name",
        "type": "string",
        "mandatory": true
      },
      "occlusions": {
        "description": "Occlusions configuration",
        "type": "string",
        "mandatory": true
      },
      "duration": {
        "description": "duration (in minutes)",
        "type": "int",
        "mandatory": true
      },
      "suffix": {
        "description": "experiment identifier",
        "type": "string",
        "mandatory": true
      }
    }
  },
  "connect_tracking": {
    "description": "Connects to the computer vision system",
    "input_type": "console",
    "parameters": {
    }
  },
  "finish_experiment": {
    "description": "Finishes the current experiment",
    "input_type": "console",
    "parameters": {}
  },
  "show_occlusions": {
    "description": "Show occlusions in the agent_tracking window",
    "input_type": "console",
    "parameters": {
      "occlusions_configuration": {
        "description": "name of the occlusions configuration",
        "type": "string",
        "mandatory": true
      }
    }
  },
  "hide_occlusions": {
    "description": "Hide occlusions in the agent_tracking window",
    "input_type": "console",
    "parameters": {}
  },
  "enable_feeder": {
    "description": "Activates a water feeder",
    "input_type": "console",
    "parameters": {
      "feeder_number": {
        "description": "Number of the feeder to be activated",
        "type": "int",
        "mandatory": true
      }
    }
  },
  "disable_feeder": {
    "description": "Deactivates a water feeder",
    "input_type": "console",
    "parameters": {
      "feeder_number": {
        "description": "Number of the feeder to be activated",
        "type": "int",
        "mandatory": true
      }
    }
  },  "open_door": {
    "description": "Opens a door",
    "input_type": "console",
    "parameters": {
      "door_number": {
        "description": "Number of the door to be opened",
        "type": "int",
        "mandatory": true
      }
    }
  },
  "close_door": {
    "description": "Closes a door",
    "input_type": "console",
    "parameters": {
      "door_number": {
        "description": "Number of the door to be closed",
        "type": "int",
        "mandatory": true
      }
    }
  },
  "help": {
    "description": "Shows help about available commands",
    "input_type": "console",
    "parameters": {
      "command_name": {
        "description": "Name of the command",
        "mandatory": false,
        "type": "string"
      }
    }
  },
  "calibrate_door": {
    "description": "Updates the calibration values of a door",
    "input_type": "console",
    "parameters": {
      "door_number": {
        "description": "Number of the door to be opened",
        "type": "int",
        "mandatory": true
      },
      "direction": {
        "description": "1 normal, -1 inverted",
        "type": "int",
        "mandatory": true
      },
      "opening_time": {
        "description": "opening tim in seconds",
        "type": "float",
        "mandatory": true
      },
      "closing_time": {
        "description": "closing time in seconds",
        "type": "float",
        "mandatory": true
      }
    }
  },
  "save_doors_calibration": {
    "description": "Saves all doors calibration",
    "input_type": "console",
    "parameters": {}
  },
  "update_background": {
    "description": "Updates the background for agent tracking",
    "input_type": "console",
    "parameters": {}
  },
  "load_doors_calibration": {
    "description": "Loads all doors calibration",
    "input_type": "console",
    "parameters": {}
  },
  "test_door": {
    "description": "Opens and closes a door a number of repetitions",
    "input_type": "console",
    "parameters": {
      "door_number": {
        "description": "Number of the door to be tested",
        "type": "int",
        "mandatory": true
      },
      "repetitions": {
        "description": "Repetitions [10]",
        "type": "int",
        "mandatory": false
      }
    }
  }
}