{
  "feeder_reached": {
    "description": "Informs the habitat server that a feeder has been reached by a mouse",
    "parameters": {
      "feeder_number": {
        "description": "Feeder number that has been reached",
        "type": "int",
        "mandatory": true
      }
    }
  },
  "test_feeder": {
    "description": "Test the water feeder",
    "parameters": {
      "feeder_number": {
        "description": "Feeder number that has been reached",
        "type": "int",
        "mandatory": true
      },
      "duration": {
        "description": "Pulse duration in milliseconds",
        "type": "int",
        "mandatory": true
      },
      "repetitions": {
        "description": "Repetitions",
        "type": "int",
        "mandatory": true
      },
      "wait_time": {
        "description": "Time between pulses in milliseconds",
        "type": "int",
        "mandatory": true
      }
    }
  },
  "start_server": {
    "description": "Start the local habitat server",
    "parameters": {}
  },
  "end": {
    "description": "Quits this console and ends the maze controller",
    "parameters": {}
  },
  "status": {
    "description": "Shows full status of the maze",
    "parameters": {}
  },
  "start_experiment": {
    "description": "Starts a new experiment",
    "parameters": {
      "subject_name": {
        "description": "Name of mouse in the experiment",
        "type": "string",
        "mandatory": true
      },
      "world_name": {
        "description": "Name of the world configuration",
        "type": "string",
        "mandatory": true
      },
      "duration": {
        "description": "Duration of the experiment in minutes",
        "type": "int",
        "mandatory": true
      },
      "suffix": {
        "description": "Additional file descriptor",
        "type": "string",
        "mandatory": false
      }
    }
  },
  "track": {
    "description": "Records the location of an agent during an experiment",
    "parameters": {
      "agent_name": {
        "description": "Name of the new experiment",
        "type": "string",
        "mandatory": true
      },
      "x": {
        "description": "x component of the agent's coordinate",
        "type": "int",
        "mandatory": false
      },
      "y": {
        "description": "y component of the agent's coordinate",
        "type": "int",
        "mandatory": false
      }
    }
  },
  "finish_experiment": {
    "description": "Finishes the current experiment",
    "parameters": {}
  },
  "enable_feeder": {
    "description": "Activates a water feeder",
    "parameters": {
      "feeder_number": {
        "description": "Number of the feeder to be activated",
        "type": "int",
        "mandatory": true
      }
    }
  },
  "open_door": {
    "description": "Opens a door",
    "parameters": {
      "door_number": {
        "description": "Number of the door to be opened",
        "type": "int",
        "mandatory": true
      }
    }
  },
  "close_door": {
    "description": "Closes a door",
    "parameters": {
      "door_number": {
        "description": "Number of the door to be closed",
        "type": "int",
        "mandatory": true
      }
    }
  },
  "help": {
    "description": "Shows help about available commands",
    "parameters": {
      "command_name": {
        "description": "Name of the command",
        "mandatory": false,
        "type": "string"
      }
    }
  },
  "calibrate_door": {
    "description": "Updates the calibration values of a door",
    "parameters": {
      "door_number": {
        "description": "Number of the door to be opened",
        "type": "int",
        "mandatory": true
      },
      "direction": {
        "description": "1 normal, -1 inverted",
        "type": "int",
        "mandatory": true
      },
      "opening_time": {
        "description": "opening tim in seconds",
        "type": "float",
        "mandatory": true
      },
      "closing_time": {
        "description": "closing time in seconds",
        "type": "float",
        "mandatory": true
      }
    }
  },
  "save_doors_calibration": {
    "description": "Saves all doors calibration",
    "parameters": {}
  },
  "load_doors_calibration": {
    "description": "Loads all doors calibration",
    "parameters": {}
  },
  "test_door": {
    "description": "Opens and closes a door a number of repetitions",
    "parameters": {
      "door_number": {
        "description": "Number of the door to be tested",
        "type": "int",
        "mandatory": true
      },
      "repetitions": {
        "description": "Repetitions [10]",
        "type": "int",
        "mandatory": false
      }
    }
  }
}